* {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}

#calculator {
    background: #000000;
    margin-left: 100px;
    width: 300px;
    height: 425px;
}

#display {
    color: white;
    text-align: right;
    margin-right: 20px;
}

.row {
    text-align: center;
    margin: 20px 0px;
}

button {
    background: #14213D;
    color: whitesmoke;
    border: 1px solid #14213D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.operator {
    background: #FCA311;
}

#equals {
    width: 250px;
    height: 55px;
    border-radius:29%;
}